/* CSS */

/* Design Constants */
:root {

  --chessboard-size: 500px

}

/* Core Organizational Components */

.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color:rgb(21, 22, 24);
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  #title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-family: "Gill Sans", sans-serif;
  }
  
  .logoImg {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90%;
  }

  #titleText {
    font-size: 50px;
    margin: 0px;
    color: white;
  }

  /* For Mobile */
  @media screen and (max-width: 949px) {

  #main {
    flex-direction: column;
  }

  }

  /* Chessboard css */
  #chessboard_div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }

  #chessboardMain {
    display: flex;
    flex-direction: row;
  }

  #chessInterface {
    position: relative;
  }

  #mainChessBoard {
    position: absolute;
  }

  #promotionMenu {
    position: absolute;
    top: 100px;
    z-index: 10;
    width: var(--chessboard-size);
    background-color: rgba(255,143,88, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .promotionSelectionBtn {
    background: transparent;
    border: none;
  }

  .promoteMenuImg {
    width: 50px;
    padding: 5px;
    background: transparent;
    margin: 0;
  }

  .promoteMenuImg:hover {
    background: rgb(69,61,129);
  }

  /* For Mobile */
  @media screen and (max-width: 949px) {

    #chessboard_div {
      width: 100%
  
    }
  
  }

  /* Chessboard Adjacent components */
  #evalBar{
    height: var(--chessboard-size);
    background-color: lightgray;
    width: calc(var(--chessboard-size) / 16);
    margin-left: 10px;
  }

  #blackEvalFill{
    background-color: rgb(86, 86, 86);
    width: 100%;
    transition: height 1s;
  }

  /* Feedback CSS */
  #feedback_div {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    margin: 0px;
  }

  .feedbackText {
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 20px;
    color: white;
  }

  #analysePosition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* For Mobile */
  @media screen and (max-width: 949px) {

    #feedback_div {
      width: 100%
    }
  
  }