#btn1 {
    background-color: #04AA6D; /* Green */
    /* @@ -23,15 +24,16 @@ box-shadow:  0 3px 5px rgba(0, 0, 0, 0.2); */
    border: none;
    border-radius: 7px;
    color: white;
    width: 145px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
}
#btn1:hover {
background-color: #1ed994; 
}
#btn2 {
background-color: #3ac7b6; 
border: none;
border-radius: 7px;
color: white;
width: 145px;
margin-left: 30px;
margin-right: 30px;
margin-top: 50px;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
font-family: "Gill Sans", sans-serif;
}
#btn2:hover {
background-color: #71eee0;
}

#undo {
background-color: #22a1cb; 
border: none;
border-radius: 7px;
color: white;
width: 145px;
margin-left: 30px;
margin-right: 30px;
margin-top: 50px;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
font-family: "Gill Sans", sans-serif;
}
#undo:hover {
background-color: #56cae4; 
}